# MongoDB Connection String
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/fitjourney?retryWrites=true&w=majority

# Add any other environment variables your app needs
# NODE_ENV=production